:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all ease-in-out 0.5s;
}

body {
  min-height: 100vh;
  background-color: var(--light-gray);
  font-family: "Outfit", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: white;
  max-width: 21.4rem;
  padding: 1rem;
  border-radius: 1.4rem;
  box-shadow: 0px 4px 70px 6px rgba(0, 0, 0, 0.2);
  margin: 1rem;
  padding: 0.95rem 1.1rem;
  transition: ease-in-out 0.5s;
}

.qrcode {
  overflow: hidden;
  border-radius: 1rem;
  background-color: rgb(44, 125, 250);
}

.qrcode__image {
  max-width: 100%;
  transition: ease-in-out 0.5s;
}

/* use media (hover:hover) instead of just :hover, so mobile device will not be effected */
@media (hover: hover) {
  .qrcode__image:hover {
    transform: rotate(90deg) scale(150%);
    transition: ease-in-out 0.5s;
  }

  .card:hover {
    box-shadow: 0px 4px 70px 6px rgba(0, 0, 0, 0.5);
    transition: ease-in-out 0.5s;
  }
}

.card__title {
  margin: 1rem;
  text-align: center;
  font-size: 1.4rem;
  color: var(--dark-blue);
}

.card__desc {
  margin: 1rem;
  text-align: center;
  font-size: 1rem;
  color: var(--grayish-blue);
}

.attribution {
  font-size: 0.75rem;
  text-align: center;
  color: var(--dark-blue);
}

@media screen and (min-height: 576px) {
  .attribution {
    position: fixed;
    bottom: 0.5rem;
  }
}

.attribution a {
  color: inherit;
}

.attribution a:hover {
  color: black;
}
