:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
  --blue: hsl(216deg 95% 58%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all ease-in-out 0.2s;
  text-decoration: none;
}

body {
  min-height: 100vh;
  background-color: var(--light-gray);
  font-family: "Outfit", "Noto Sans TC", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: var(--white);
  padding: 1rem;
  border-radius: 1.4rem;
  box-shadow: 0px 4px 70px 6px rgba(0, 0, 0, 0.2);
  margin: 1rem;
  padding: 0.95rem 1.1rem;
  transition: ease-in-out 0.5s;
}

.qrcode {
  overflow: hidden;
  border-radius: 1rem;
  background-color: rgb(44, 125, 250);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 26rem;
  position: relative;
}

.qrcode::before {
  content: "";
  background-color: hsl(0, 0%, 100%, 0.08);
  border-radius: 100%;
  height: 20rem;
  width: 20rem;
  position: absolute;
  top: -10rem;
  left: -8rem;
}

.qrcode::after {
  content: "";
  background-color: hsl(0, 0%, 100%, 0.08);
  border-radius: 100%;
  height: 15rem;
  width: 15rem;
  position: absolute;
  bottom: -8rem;
  right: -6rem;
}

.qrcode__image {
  max-width: 16rem;
  max-height: 16rem;
  transition: ease-in-out 0.5s;
  z-index: 1;
}

/* use media (hover:hover) instead of just :hover, so mobile device will not be effected */
@media (hover: hover) {
  .qrcode:hover .qrcode__image {
    transform: rotate(90deg) scale(140%);
    transition: ease-in-out 0.5s;
  }

  .card:hover {
    box-shadow: 0px 4px 70px 6px rgba(0, 0, 0, 0.5);
    transition: ease-in-out 0.5s;
  }
}

.card__title {
  margin: 1rem;
  text-align: center;
  font-size: 1.4rem;
  color: var(--dark-blue);
}

.card__title:hover {
  color: var(--blue);
}

.card__desc {
  margin: 1rem;
  text-align: center;
  font-size: 1rem;
  color: var(--grayish-blue);
}

.attribution {
  font-size: 1rem;
  text-align: center;
  font-weight: 700;
  color: var(--dark-blue);
}

@media screen and (min-height: 700px) {
  .attribution {
    position: fixed;
    bottom: 0.5rem;
  }
}

.attribution a {
  color: inherit;
  transition: ease-in-out 0.2s;
}

.attribution a:hover {
  color: var(--blue);
}
